 header {
  height: 5vh;
  background-color: red;
}

main {
  height: 85vh;
}

footer {
  height: 10vh;
   background-color: red;
}
@media screen and (max-width: 768px) {
 header {
  height: 5vh;
  background-color: #3d348b;
}

main {
  height: 85vh;
}

footer {
  height: 10vh;
   background-color: #3d348b;
}
}
